* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.prevent-select {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
  }
.gradient-backgroun{
    background: linear-gradient(300deg, rgb(166, 190, 228), rgb(199, 186, 230));
    background-size: 180% 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
body {
    
    background-color:#252c27;
    margin: 0;
    /* background-image: url("gdu15.jpg"); */
    background-size: cover;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    text-align: center;
    font-size: 110%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    /* text-shadow: 5px 4px 10px rgba(0,0,0,0.52); */
    height: 16vh;
    width: 100%;
    z-index: 5;
    background: #23a336;
}
nav h1{
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    top: 40vh;
    margin: auto;
    height: auto;
    max-width: 70vw;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .4s;
    background-color: #ffffff10;
    /* background-color: #f4efef10; */
    backdrop-filter: blur(20px);
}
.container h1{
    margin-bottom:  30px;
    color:#61ff79;
    font-size: 150%;
    
}

#encodeSection textarea{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    padding: 20px;
    width: 85%;
    height: 18vh;
    color: black;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
}
#encodeSection{
    display: none;
    color: white;
}
#encodeSection h2{
    margin-bottom: 20px;
}
#encodeSection #imageInput,#decodeSection #decodeImageInput, input[type="password"]{
    margin:20px 0;
    background-color:white;
    border: 1px solid rgb(3, 3, 3);
    padding: 9px;
    border-radius: 5px;
    width: 87%;
    outline:none;

}
#decodeSection{
    color: white;
}
#decodeSection #decodedText{
    color: red;
    margin: 20px 0 0 0 ;
}
#decodeSection h2{
    margin-bottom: 20px;
}
.buttons {
    margin-bottom: 20px;
    
}
#encodeSection label, #decodeSection label{
    display: block;
    font-size: 15px;
    font-weight: 500;
}

button {
    margin-right: 40px;
    padding: 10px 15px;
    background: white;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 3px 0px  #23a336;
    border: 1px solid black;
    width: 175px;
    height: 65px;
    margin: 20px auto;
    -webkit-border-radius:10px;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    line-height: 40px;
}
button:active{
    margin-top: 23px;
    box-shadow: none;
}
button:hover{
    background-color:lightgrey;
    color: black;
}

#visualizationCanvas{
    height: 500px;
    width: auto;
    justify-content: center;
    margin-top: 50px;
    border: black;
}

.section {
    margin-top: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    position:absolute;
    width: 100%;
    bottom: -750px;
}
#nofile{
    color: black;
}
#decode{
    color: black;
}

